<div id="body">
    <section class="featured">
        
        <div class="headerimage">
        </div>

        <div class="clear-fix"></div>


        <div style="">
            <div class="BannerMain">
                <div class="BannerTitle">
                    <div style="float:left;">
                        <img src="~/Content/Images/geo-black.png" class="BannerImage" />
                    </div>
                    <hgroup class="title">
                        <h1 style="color:#D9D9E4;">A year of dealing with RabbitMQ</h1>
                    </hgroup>

                </div>
            </div>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ol class="round">
            <li>
                <div style="float:left">
                    <img src="~/Content/Images/DevConf-logo.png" style="width:68px;margin-top:10px;margin-left:-10px" />
                </div>
                <div style="padding-left:70px">
                    <h4>Dev Conf</h4>
                    The real reason we are here!
                    <a href="http://www.devconf.co.za/">Thanks</a>
                </div>
            </li>

            <li>
                <div style="float:left">
                    <img src="~/Content/Images/twitter-icon.png" style="height:50px" />
                </div>
                <div style="padding-left:70px">
                    <h4>Find me on Twitter @@Fry_hard</h4>
                    Should you be a twitterer, you can find me here. Be warned though, my Twitter account is pretty damn boring.
                    <a href="https://twitter.com/Fry_Hard">Snooze</a>
                </div>
            </li>

            <li>
                <div style="float:left">
                    <img src="~/Content/Images/geo-black.png" style="height:60px;margin-top:-5px" />
                </div>
                <div style="padding-left:70px">
                    <h4>FryHard.com</h4>
                    My website, blog and whatever I have time to maintain. Currently nothing. :)
                    <a href="http://www.fryhard.com">It's Me!</a>
                </div>
            </li>
            
            <li>
                <div style="float:left">
                    <img src="~/Content/Images/rabbitmq-icon.png" style="height:50px;margin-top:-5px" />
                </div>
                <div style="padding-left:70px">
                    <h4>Rabbit MQ</h4>
                    The reason that you are listening to me!
                    <a href="https://www.rabbitmq.com/">Rabbit MQ home</a>
                </div>
            </li>

            <li>
                <div>
                    <img src="~/Content/Images/jagmethod-logo.png" style="width:150px" />
                </div>
                <div style="padding-left:70px">
                    I am the IT manager of JAG Method. We are one of S.A's biggest online lead generators. The IT team is small, but critical to the company's success.
                    Come experience a truly entrepreneurial business!
                    <a href="http://www.jagmethod.com">JOIN US!</a>
                </div>
            </li>
        </ol>
    </section>
</div>
