@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <br/>
    <br />

    <div class="smileheader">
        @Html.ActionLink("Stop Counting", "Stop", "Admin", new { area = "" }, new { @class = "btn btn-danger btn-lg", style = "text-decoration:none" })
        <br/>
        <br />
        @Html.ActionLink("Start Counting", "Start", "Admin", new { area = "" }, new { @class = "btn btn-success btn-lg", style = "text-decoration:none" })
        <br />
        <br />
        @Html.ActionLink("Reset Votes", "Reset", "Admin", new { area = "" }, new { @class = "btn btn-info btn-lg", style = "text-decoration:none" })
    </div>

</div>
