@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <section class="featured">

        <div class="headerimage">
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div class="smileheader">
            <h1>Tell me how I am doing.</h1>
            <h3>Click on the below indicator of how you think this talk is going.</h3>
            <br />
        </div>

        <div class="smileparent">
            <div class="smile">
                <img src="~/Content/Images/smile/0.png" />
            </div>
            <div class="smile">
                <img src="~/Content/Images/smile/1.png" />
            </div>
            <div class="smile">
                <img src="~/Content/Images/smile/2.png" />
            </div>
            <div class="smile">
                <img src="~/Content/Images/smile/3.png" />
            </div>
            <div class="smile">
                <img src="~/Content/Images/smile/4.png" />
            </div>
        </div>
</section>
</div>
